@use "@sass/_utils.functions.scss" as f;
@use "@sass/variables/_variables.colors.scss" as c;
@use "@sass/mixins/_utils.mixins.scss" as mut;

.loginPage {
    @include mut.flexed($justify-content: center, $align-items: center);
    min-height: calc(100vh - 82px - 244px);
    padding: 80px 20px;
    background: #FCFCFC;
    margin-top: 82px;
}

.loginCard {
    @include mut.flexed($direction: column, $align-items: center, $gap: 35);
    width: 100%;
    max-width: 600px;
    padding: 48px 60px;
    background: #FFFFFF;
    box-shadow: 0px 5.78936px 14.0599px 1.6541px rgba(91, 91, 91, 0.25);
    border-radius: 60px;
}

.loginHeader {
    text-align: center;

    h1 {
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        color: #1D1F23;
        margin-bottom: 10px;
    }

    p {
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #535353;
        margin: 0;
    }
}

.loginForm {
    @include mut.flexed($direction: column, $gap: 20);
    width: 100%;
    max-width: 480px;
}

.inputGroup {
    @include mut.flexed($direction: column, $gap: 4);
    width: 100%;

    label {
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 140%;
        color: #767676;
    }
}

.inputWrapper {
    position: relative;
    width: 100%;

    .ant-input {
        box-sizing: border-box;
        padding: 9px 16px;
        padding-right: 50px;
        height: 44px;
        border: 1px solid #A3A3A3;
        border-radius: 10px;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        line-height: 160%;
        color: #1D1F23;

        &:focus, &:hover {
            border-color: #DB3424;
            box-shadow: none;
        }
    }

    .charCount {
        position: absolute;
        right: 16px;
        top: 50%;
        transform: translateY(-50%);
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        line-height: 160%;
        color: #A3A3A3;
    }

    .passwordToggle {
        position: absolute;
        right: 16px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        color: #767676;
        font-size: 18px;

        &:hover {
            color: #535353;
        }
    }
}

.loginOptions {
    @include mut.flexed($justify-content: space-between, $align-items: center);
    width: 100%;

    .forgotPassword {
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #891F16;
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }
    }

    .rememberMe {
        @include mut.flexed($align-items: center, $gap: 10);

        .ant-checkbox-checked .ant-checkbox-inner {
            background-color: #891F16;
            border-color: #891F16;
        }

        span {
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: #535353;
        }
    }
}

.submitButton {
    width: 100%;
    height: 65px;
    background: #E04031;
    border: 1px solid rgba(209, 209, 209, 0.819608);
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
    margin-top: 20px;

    &:hover {
        background: #c9362a !important;
    }

    &:disabled {
        background: #cccccc;
        cursor: not-allowed;
    }
}

.switchMode {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: rgba(83, 83, 83, 0.78);

    span {
        color: #DB3424;
        cursor: pointer;
        font-weight: 500;

        &:hover {
            text-decoration: underline;
        }
    }
}

.divider {
    @include mut.flexed($align-items: center, $gap: 8);
    width: 100%;

    .line {
        flex: 1;
        height: 1px;
        background: #D9D9D9;
    }

    span {
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: rgba(83, 83, 83, 0.78);
        white-space: nowrap;
    }
}

.googleButton {
    @include mut.flexed($align-items: center, $justify-content: center, $gap: 5);
    padding: 9px 24px;
    width: 153px;
    height: 54px;
    background: #F1F1F1;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    align-self: center;
    transition: background-color 0.3s ease;

    &:hover {
        background: #E5E5E5;
    }

    .googleIcon {
        width: 36px;
        height: 36px;
    }

    span {
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        font-size: 20px;
        line-height: 23px;
        color: rgba(0, 0, 0, 0.61);
    }
}

@media screen and (max-width: 768px) {
    .loginCard {
        padding: 40px 24px;
        border-radius: 30px;
    }

    .loginHeader {
        h1 {
            font-size: 20px;
        }

        p {
            font-size: 14px;
        }
    }

    .loginOptions {
        flex-direction: column;
        gap: 12px;
        align-items: flex-start;
    }

    .submitButton {
        height: 50px;
        font-size: 18px;
    }

    .switchMode {
        font-size: 16px;
    }

    .googleButton {
        width: 130px;
        height: 48px;

        .googleIcon {
            width: 28px;
            height: 28px;
        }

        span {
            font-size: 16px;
        }
    }
}

// Custom success message styling
.custom-success-message {
    .ant-message-notice-content {
        padding: 16px 24px;
        background: #FFFFFF;
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
        border-radius: 10px;
    }

    .ant-message-success {
        display: flex;
        align-items: center;
        gap: 12px;

        .anticon {
            color: #04A64D;
            font-size: 24px;
        }

        span {
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: #1D1F23;
        }
    }
}
