@use "sass:math";
@use "sass:string";
@use "sass:list";

$body-font-size: 16px;

@function pxToRem($value) {
  @if ($value == 0) { @return 0; }
  @return math.div($value, $body-font-size) * 1rem;
}

@function pxToEm($value, $context: $body-font-size) {
  @if ($value == 0) { @return 0; }
  @return #{math.div($value, $context)}em;
}

@function str-replace($string, $search, $replace: '') {
  $index: string.index($string, $search);

  @if $index {
    @return string.slice($string, 1, $index - 1) + $replace +
      str-replace(string.slice($string, $index + string.length($search)), $search, $replace);
  }
  @return $string;
}

@function str-replace-all($strings, $search, $replace: '') {
  @each $string in $strings {
    $strings: list.set-nth($strings, list.index($strings, $string), str-replace($string, $search, $replace));
  }
  @return $strings;
}

@function map-to-rem($map) {
  $new-map: ( );

  @each $key, $value in $map {
    $new-map: map-merge($new-map, ($key: str-replace(#{pxToRem($value)}, 'px')));
  }
  @return $new-map;
}